<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="VendingMachineConnectionString" connectionString="Data Source = DESKTOP-2HIHRN6\SQLEXPRESS;Database=VendingMachineApplication;persist security info=True;TrustServerCertificate=True;Integrated Security=SSPI;"/>
	</connectionStrings>
	<appSettings>
		<add key ="repositoryType" value ="SQL"/>
	</appSettings>
</configuration>